.avocado,
.back,
.beef,
.butter,
.capers,
.cheese,
.chicken,
.coconut,
.egg,
.eggs,
.female,
.fish,
.forward-female,
.forward-male,
.goat-cheese,
.ham,
.icons,
.lamb,
.male,
.milk,
.mushroom,
.mushrooms,
.nuts,
.olives,
.onions,
.pork,
.seafood,
.veal {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left
}

.icons {
    background-position: -2px 0;
    width: 50px;
    height: 852px
}

.beef {
    background-position: -2px -854px;
    width: 40px;
    height: 29px
}

.butter {
    background-position: -2px -885px;
    width: 40px;
    height: 32px
}

.cheese {
    background-position: -2px -919px;
    width: 40px;
    height: 26px
}

.fish {
    background-position: -2px -947px;
    width: 40px;
    height: 27px
}

.goat-cheese {
    background-position: -2px -976px;
    width: 40px;
    height: 29px
}

.nuts {
    background-position: -2px -1007px;
    width: 40px;
    height: 21px
}

.coconut {
    background-position: -2px -1030px;
    width: 39px;
    height: 32px
}

.chicken {
    background-position: -2px -1064px;
    width: 37px;
    height: 32px
}

.lamb {
    background-position: -2px -1098px
}

.lamb,
.seafood {
    width: 36px;
    height: 32px
}

.seafood {
    background-position: -2px -1132px
}

.onions {
    background-position: -2px -1166px;
    width: 35px;
    height: 32px
}

.ham {
    background-position: -2px -1200px;
    width: 34px;
    height: 32px
}

.olives {
    background-position: -2px -1234px;
    width: 33px;
    height: 32px
}

.avocado {
    background-position: -2px -1268px
}

.avocado,
.milk {
    width: 32px;
    height: 32px
}

.milk {
    background-position: -2px -1302px
}

.veal {
    background-position: -2px -1336px;
    width: 32px;
    height: 32px
}

.capers {
    background-position: -2px -1370px;
    width: 31px;
    height: 32px
}

.mushroom,
.mushrooms {
    background-position: -2px -1404px;
    width: 31px;
    height: 32px
}

.egg,
.eggs {
    background-position: -2px -1438px;
    width: 26px;
    height: 32px
}

.female {
    background-position: -2px -1472px;
    width: 22px;
    height: 30px
}

.male {
    background-position: -26px -1472px;
    width: 22px;
    height: 29px
}

.pork {
    background-position: -26px -1503px;
    width: 22px;
    height: 32px
}

.back {
    background-position: -35px -1370px;
    width: 15px;
    height: 25px
}

.forward-female {
    background-position: -41px -1064px;
    width: 9px;
    height: 15px
}

.forward-male {
    background-position: -41px -1081px;
    width: 9px;
    height: 15px
}